{% extends 'base_contracts.html' %}
{% load need_tags %}

{% block content %}

    <div style="background-color: rgb(198, 218, 203); width: 1200px; margin-left: 10px; padding: 10px;min-height: 100px;">
        <form method="post">        

            {% csrf_token %}
            {% if form.errors %}
                <div class="error">
                    <p>Nieprawidłowe dane w formularzu. Proszę sprawdzić poniższe błędy:</p>
                    {{ form.errors }}
                </div>
            {% endif %}          
            <div style="margin-top: 10px; margin-bottom: 10px;">Dodawanie zaimportowanych umów do bazy danych umów</div>
            {% buton "button-normal" "" "confirm" "Dodaj zaimportowane umowy do bazy" %}   
        </form>           
    </div>

{% endblock %}
