{% extends 'base_purchases.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if form.errors %}
      <div class="error">
        <p>Nieprawidłowe dane w formularzu. Proszę sprawdzić poniższe błędy:</p>
        {{ form.errors }}
      </div>
    {% endif %}
    {% include 'edit_purchase_header.html' %}
    <div style=" clear: both;"></div>



    <div class="standard-blok"; style="width: {{ szerokosc }}px">
      {% include 'edit_purchase_main_block.html' %}
    </div>

    <div class="standard-blok"; style="width: {{ szerokosc }}px">
      <div style="float:left;margin-bottom: 3px; margin-top: 3px; margin-left: 3px; width: {{polowka}}px; height: 420px; background-color: rgb(209, 154, 154);overflow: auto;">
        {% include 'edit_purchase_ezz.html' %}
      </div>
      {% if postepowanie_instance %}
        <div style="float:left;margin-bottom: 3px; margin-top: 3px; margin-left: 3px; width: {{polowka}}px; height: 420px; background-color: rgb(227, 231, 172);overflow: auto;">
          {% include 'edit_purchase_postepowanie.html' %}
        </div>
      {% endif %}
    </div>
    <div class="standard-blok"; style="width: {{ szerokosc }}px">
      {% include 'edit_purchase_related_objects.html' %}
    </div>

    <div style="clear:both;"></div>
    <!-- {% include 'form_debug.html' %} -->
  </form>
  <div class="standard-blok"; style="width: {{ szerokosc }}px">
    {% include 'recent_logs.html' %}
  </div>
  <div style="clear:both;"></div>
{% endblock %}
