<!-- common_links.html -->
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
<script src="{% static 'autocomplete_light/select2.js'%}"></script>  
<script src="{% static 'general/bootstrap.bundle.min.js'%}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.js" crossorigin="anonymous"></script>

<script>$.fn.select2.defaults.set("theme", "bootstrap");</script>
