{% extends 'base_general.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load general_tags %}
{% block content %}
  <div class="header_lit">CRIP</div>
  {% include 'pagination_general.html' %}
  {% if filter %}
    <form action="" method="get" class="form form-inline mb-3">
      {% filtr_field 'id' 'Id' %}
      {% filtr_field 'nazwa_projektu' 'Nazwa' %}
      {% filtr_field 'sekcja' 'Dział' %}
      {% filtr_field 'jednostka' 'Jednostka' %}
      {% filtr_field 'crip_id' 'Crip Id' %}
      <label for="start_date">Od daty</label>
      <input type="date" name="start_date" class="form-control" value="{{ request.GET.start_date }}" />
      <label for="end_date">Do daty</label>
      <input type="date" name="end_date" class="form-control" value="{{ request.GET.end_date }}" />
      <button type="submit" class="btn btn-primary">Filtruj</button>
    </form>
  {% endif %}
  {% render_table table 'custom_table_template.html' %}
{% endblock %}
