{% load need_tags %}
<div style="width:1110px;margin-top: 5px; ">

    {% need_field 11 crip_instance.crip_id form.crip_id 'CRIP ID:' is_accountant is_freeze 'normal'  True True 0 %}
    {% if full == True %}
        {% need_field 11 crip_instance.nazwa_projektu form.nazwa_projektu 'Nazwa projektu:' is_accountant is_freeze 'normal'  True True 0 %}
        {% need_field 11 crip_instance.jednostka form.jednostka 'Jednostka:' is_accountant is_freeze 'normal'  True True 0 %}
        {% need_field 11 crip_instance.sekcja form.sekcja 'Sekcja:' is_accountant is_freeze 'normal'  True True 0 %}
    {% endif %}
</div>
