{% load general_filters %}
<div style="margin-right: 1px; margin-bottom: 1px; height: 30px; padding-left: 5px; background-color: rgb(197, 206, 206); width: {{ szerokosc_pola }}px; float: left; display: flex; align-items: center; justify-content: center;  " class="{{ klasa }}">
  <div style="margin-right: 5px;">{{ etykieta }}</div>
  <div>
    {% if warunek == 1 %}
      {% if field %}
        {{ field }}
      {% else %}
        {{ instance|format_instance }}
      {% endif %}
    {% else %}
      {{ instance|format_instance }}
    {% endif %}
  </div>
</div>
