<!DOCTYPE html>
{% load static %}


<html>
<head>
    <title>AvanTIc !!!</title>
    {% include 'common_links.html' %}  
</head>
<body>
  <div class="container">
    <h1>
      <a href="#menu">Kliknij</a>
    </h1>
    <div class="popover" id="menu">
      <div class = 'content'>
        <a href="#" class="close"></a>
        <div class = 'nav'>
          <ul class = 'nav_list'>
            <div class = 'nav_list_item'>
              <li><a href="/">AvanTIc</a></li>
            </div>
            <div class = 'nav_list_item'>
              <li><a href="/ideas">Pomysły</a></li>
            </div>
            <div class = 'nav_list_item'>
              <li><a href="/needs">Potrzeby</a></li>
            </div>
            <div class = 'nav_list_item'>
              <li><a href="/purchases">Zakupy</a></li>
            </div>
            <div class = 'nav_list_item'>
              <li><a href="/contracts">Umowy</a></li>
            </div>

            {% if request.user.is_authenticated %}
              {% for group in user.groups.all %}
                {% if group.name == 'useradmin' %}
                  <div class = 'nav_list_item'>
                    <li><a href="/account">autoryzacja</a></li>
                  </div>        
                {% endif %}
              {% endfor %}
            {% endif %} 
       
            {% if request.user.is_authenticated %}
              {% for group in user.groups.all %}
                {% if group.name == 'advanced' %}
                  <div class = 'nav_list_item'>
                    <li><a href="/general">administracja</a></li>
                  </div>   
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
